.section-header{
	margin:35px 0;
}
.section-header:first-child{
	margin-top:50px;
}
.section__title{
	margin:0 0 10px 0;
	text-align:center;
	font-size:1.4em;
}
.section__subtitle{
	margin:0;
	text-align:center;
	font-size:.8em;
}