//FuturaPT
@font-face {
	font-family: 'Futura PT';
	src: url('../fonts/FuturaPT-Light.eot');
	src: url('../fonts/FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaPT-Light.woff2') format('woff2'),
		url('../fonts/FuturaPT-Light.woff') format('woff'),
		url('../fonts/FuturaPT-Light.ttf') format('truetype'),
		url('../fonts/FuturaPT-Light.svg#FuturaPT-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Futura PT Cond Book';
	src: url('../fonts/FuturaPTCond-Book.eot');
	src: url('../fonts/FuturaPTCond-Book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaPTCond-Book.woff2') format('woff2'),
		url('../fonts/FuturaPTCond-Book.woff') format('woff'),
		url('../fonts/FuturaPTCond-Book.ttf') format('truetype'),
		url('../fonts/FuturaPTCond-Book.svg#FuturaPTCond-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Futura PT Medium';
	src: url('../fonts/FuturaPT-Medium.eot');
	src: url('../fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaPT-Medium.woff2') format('woff2'),
		url('../fonts/FuturaPT-Medium.woff') format('woff'),
		url('../fonts/FuturaPT-Medium.ttf') format('truetype'),
		url('../fonts/FuturaPT-Medium.svg#FuturaPT-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}




