.menu{
	text-align:center;
	background-color:white;
	z-index:5;
}
	.menuIcon-mobile{
		float:left;
		padding-top:10px;
	}
	.logo-mobile{
		width: 30px;
		padding-top:5px;
	}
	.logo{
		display: none;
	}
	.menu__list{
		text-align: left;
		background-color:$mobile-menu-background-color;
		position:fixed;
		height:100%;
		width:280px;

		margin-top: 5px;
		padding:20px 20px 0 30px;
		list-style:none;
		font-size:1.6em;

		left:-280px;
		transition:left .4s ease-in-out;
	}
	.menu__list--active{
		left:0;
	}
		.menu__item{
			margin:15px 0;
			width:100%;
			cursor:pointer
		}
		.menu__item:hover{
			color:$active-color;
		}
		.menu__item__arrow{
			display: none;
		}
		
		.menu__item__arrow--mobile{
			float:right;
			font-size: .5em;
			line-height: 3em;
		}

.menu-secondary{
		float:none;
	}
		.menu-secondary__list{
			list-style: none;	
		}
			.menu-secondary__item{
				margin-left:20px;
				display: inline-block;
				cursor:pointer;
			}
			.menu-secondary__item--mobileHide{
				display: none;
			}
			.menu-secondary__item--mobile{
				position:fixed;
				right:5%;
				top:15px;
				z-index:10;
			}
		
				.menu-secondary__item__text{
					display: none;
					font-size:1em;
				}
				.menu-secondary__item__icon{
					font-size: 2em;
				}
				.cartCounter{
					display: inline-block;
					width:18px;
					height:18px;
					border-radius: 10px;
					line-height: 1.5em;
					font-weight: bold;
					background-color: $cartCounter-background-color;
					color:$cartCounter-text-color;
				}


@media screen and (min-width: 768px) {
	
	.menu-secondary{
		margin:0;
		float:right;
	}
	.menu-secondary__item--mobileHide{
			display: inline-block;
	}
	.menu-secondary__item--mobile{
		position:relative;
		top:0;
	}
		.menu-secondary__item__text{
			display: inline-block;
		}
		.menu-secondary__item__icon{
			font-size: 1.4em;
		}

	.menuIcon-mobile,.logo-mobile{
		display: none;
	}
	.logo{
		display:block;
		margin-left:-24px;
		width:48px;
		height: 66px;
	}
	.menu__list{
		padding:0 0 0 30px;
		left:0;
		width: 100%;
		position:relative;
		display: flex;
		align-items: center;
		justify-content: center;

		background-color: white;

	}
		.menu__item{
			margin:0 20px;
			width:auto;
			font-size: .6em;
			white-space: nowrap;
		}
		.menu__item__arrow--mobile{
			display: none;
		}
		.menu__item__arrow{
			display: inline-block;
		}
}