
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.container  {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding:0;
    
}
	@media (min-width:575px){
		.container {
			padding: 0 70px;
		}
	}
    @media (min-width: 1200px) {
        .container {
            max-width: 1200px;
            padding: 0;
        }
    }


.col {
    display: inline-block;
    vertical-align: top;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    margin-right: -4px;
    *zoom: 1;
    *display: inline;

}
	@media (min-width: 576px) {
		
    	.col-2 {
            width: 50%;
        }
	}
    @media (min-width: 728px) {
    	
        
        .col-3 {
            width: 33.3333%;
        }
    }

    .col-sideContent {
           width: 100%;
    }
    @media (min-width: 992px) {
        .col-content {
            width: 75%;
            display: inline-block;
        }

        .col-sideContent {
           width: 25%;
           float:left;
        }
    }