
$body-font-size:16px;


$top-header-color:black;

$infoBar-background-image:url('../img/infoBar-bg.jpeg');
$infoBar-text-color:lightgray;
$infoBar-text-font:'Montserrat', sans-serif;

$box-color:white;
$box-border-color:#c7c7c8;


$article-title-font:'Gloria Hallelujah';
$article-title-line-height:1.5em;
$article-title-font-size:1.1em;
$article-title-font-color:#545d67;


$article-text-font:'Arial';
$article-text-font-size:.9em;
$article-text-line-height:1.8em;
$article-text-font-color:#545d67;


$form-title-font:'Arial';
$form-title-font-size:1.125em; //18px
$form-title-color:#545d67;

$form-description-font:'Arial';
$form-description-font-size:0.9em; //12px
$form-description-color:#545d67;

$form-feedback-font:'HelveticaNeue-Bold';
$form-feedback-font-size:0.7em; //11px
$form-feedback-wrong-color:#A94442;
$form-feedback-right-color:#3c763d;

$form-input-font:'HelveticaNeue-Bold';
$form-input-font-size:0.75em; //10px
$form-input-color:#545d67;


$signUp-button-color1:#00C6AB;
$signUp-button-color2:#027f6e;
$signUp-button-font:'HelveticaNeue';
$signUp-button-font-color:white;
$signUp-button-border-color:#00C6AB;

$signUp-button-hover-color1:#00C6AB;
$signUp-button-hover-color2:#00C6AB;
$signUp-button-hover-border-color:#00C6AB;





