@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Montserrat:900');
@font-face {
  	font-family: 'HelveticaNeue';
  	src: 
  		url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
  		url('../fonts/HelveticaNeue.woff') format('woff'),
  		url('../fonts/HelveticaNeue.ttf')  format('truetype'),
  		url('../fonts/HelveticaNeue.svg#HelveticaNeue') format('svg');
  	font-weight: normal;
  	font-style: normal;
}

@font-face {
  	font-family: 'HelveticaNeue-Bold';
  	src:
  		url('../fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
  		url('../fonts/HelveticaNeue-Bold.woff') format('woff'),
  		url('../fonts/HelveticaNeue-Bold.ttf')  format('truetype'),
  		url('../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
  	font-weight: normal;
  	font-style: normal;
}

