//FONTS

$body-font:'Futura PT Medium', sans-serif;
$body-text-color:#EEE;


//COLORS

$gray:#EFEFEF;

$cartCounter-background-color:#00c6ab;
$cartCounter-text-color:#fff;

$mobile-menu-background-color:rgba(225,225,225,.7);

$dark-gray:#787878;

$active-color:#29ccb7;